@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

h1 {
    color: #000000a3;
}

#open {
    background-color: #b79d94;
}

body {
    background-image: cover;
}

#submit {
    background-color: cornflowerblue;
}

a {
    display: flex;
    justify-content: center;
}

/*dunderfam.html*/
ul {
    padding: 0px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(202, 200, 200);
    background-size: auto;
    border: 2px solid white;
    height: 50px;
    border: 0;
}

li {
    list-style: none;
    font-family: 'Creepster', cursive;
}

a {
    text-decoration: none;
}

#dunderfam {
    background-image: url("dunder.jpg");
    background-size: cover;
}

#Dwight {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
    text-align: center;
}

#Pamella {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
}

#Michael {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
}

#Angella {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
}

#HR {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
}

#Jim {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
}

#Oscar {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
}

#Ryan {
    position: relative;
    background-color: aliceblue;
    background-size: auto 100%;
    background-position: center;
}

/*flex*/
.container{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 10px;
    /* transition:all 2s ease-in 1s; */
}

.zoom{
    height: 325px;
    width: 260px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.text-pos{
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer{
    height: 30px;
    background-color: rgb(202, 200, 200);
}
#logo{
    text-align: center;
}
.zoom:hover{
    transform: scale(1.2);
    -webkit-transition: transform 0.5s ease-in-out;
    font-size: 20px;
}

.zoom img{
    width: 100%;
    height: 325px;
    object-fit: cover;
}

.border{
    color: black;
    font-size: large;
    
}

.border:hover{
    transform: scale(1.2);
}

.navbar{
    border: 4px solid black;
}

.search{
    display: flex;
    width: 260px;
    height: 22px;
   
}

#selectbox{
    font-size: 16px;
    font-family: 'Times New Roman';
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid black;
    height: 28.2px;
}
.panel{
    height: 400px;
    width: 100%;
    background-image: url("panelimg.jpg");
    background-position: contain;
    margin-top:2px;
    filter: brightness(80%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*search box*/
#inputbox{
    height: 25px;
    width: 200px;
    text-align: center;
    border-radius: 0px;
    border: 2px solid black;
    font-family: 'Creepster', cursive;
}
.searchicon{
    text-align: center;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchicon img{
    width: 20px;
    height: 20px;
}

.to_left{
}